<div class="container">
        <div class="page-header">
                <h1>Youtube Search</h1>
        </div>
        <div class="row">
            <div class="input-group input-group-lg col-md-12">
            <app-search-box-component
            (loading)="loading = $event"
            (result)="updateResult($event)"
            >
            </app-search-box-component>

            </div>

            <div class="row">
                <app-search-result
                *ngFor="let result of results"
                [result]="result">
                </app-search-result>
            </div>
        
        

</div>